@font-face { font-family: 'Open Sans'; src: url('../fonts/main.woff'); }
input, span, input[type=range]::-webkit-slider-thumb { all: unset; }

body {
   background: url('../img/bg.png');
	font: 13px 'Open Sans', verdana;
   color: #383838;
   padding: 0px;
   margin: 0px;
}

a:link, a:visited, a:hover {
	color: #0073A9;
   transition: .3s;
   cursor: pointer;
   text-decoration: none;
}

a:hover { color: rgb(175, 30, 30); }

/* --- WRAPPER & MAINBODY --- */

#wrapper-tbl, #prompt {
   display: table;
   width: 100%;
   height: 100%;
}

#wrapper-cell, #prompt-#inner {
   display: table-cell;
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

#wrapper {
   margin: auto;
   width: -moz-fit-content;
   width: fit-content;
   transition: .3s;
}

#mainbody {
   background: url('../img/dark.png');
   width: 772px;
   padding: 2px;
   transition: 0.3s;
}

/* --- SPLIT TABLE --- */

.split {
   display: table;
   width: 100%
}

.split #left, .split #right {
   display: table-cell;
   width: auto;
   text-align: left;
}

.split #right { text-align: right; }

/* --- COLORED BOXES --- */

.title, .ends, .starts, .objectives {
   background: url('../img/dark.png');
   margin-top: 2px;
}

.title { margin-top: 0px; }
.ends { background: url('../img/success.png'); }
.starts { background: url('../img/caution.png'); }
.objectives { background: url('../img/error.png'); }

/* --- HEADER & FOOTER --- */

#header, #footer {
   text-align: center;
   color: rgb(173, 173, 173);
   text-shadow: 1px 1px #242424;
   padding: 5px 7px;
}

#header .highlight, #footer .highlight { color: #F1F1F1; }

#header .link {
   color: rgb(194, 194, 194);
   transition: 0.4s;
}

#header .link:hover {
   color: rgb(231, 231, 231);
   text-decoration: underline;
   cursor: pointer;
}

#header #disabled { color: rgb(174, 248, 166); pointer-events: none; }

/* --- PRELOAD STUFF --- */

#preload-container { display: none; }
#preload-container img { width: 1px; height: 1px; }

/* --- ALERT --- */

#alert {
   background: url('../img/error.png');
   border-bottom: 1px solid #8F6F6F;
   width: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
   padding: 6px;
   padding-top: 7px;
   color: #F1F1F1;
   text-align: center;
   text-shadow: 1px 1px #242424;
}