#header, #footer {
   background: url('../img/header-bg.png');
   color: #CECECE;
   transition: .3s;
   text-shadow: 1px 1px #242424;
}

#footer { background: url('../img/footer-bg.png'); }

#footer-inner {
   background-image: url('../img/progress-bg.png');
   background-repeat: repeat-y;
   transition: .3s;
}

#xp {
   background: url('../img/lighter.png');
}

#xp-inner {
   background-image: url('../img/xp-bg.png');
   background-repeat: repeat-y;
   text-align: center;
   padding: 4px;
   transition: .3s;
}

input {
   background: url('../img/lighter.png');
   margin: 0px;
   width: 100%;
   height: 26px;
   cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: url('../img/scroller-bg.png');
   border: 0px solid black;
   height: 26px;
   width: 10px;
}

input[type=range]::-moz-range-thumb {
   -moz-appearance: none;
   background: url('../img/scroller-bg.png');
   border: 0px;
   border-radius: 0px;
   height: 26px;
   width: 10px;
}

input[type=range]::-moz-range-track {
   background: transparent;
}