#map-outer {
   overflow: hidden;
   position: relative;
}

#map {
   width: 1440px;
   height: 960px;
   position: absolute;
   opacity: 0;
   transition: 0.2s;
}

line, foreignobject { transition: 0.2s; }

line {
   stroke-width: 4px;
   stroke: red;
   opacity: 0.9;
}

foreignobject {
   width: 100%;
   height: 100%;
}

circle {
   fill: red;
   opacity: 0;
}

/* --- WAYPOINT STUFF --- */

.waypoint {
   position: absolute;
   width: 1px;
   height: 1px;
}

.waypoint #quest, .waypoint #travel, .waypoint #objective, .waypoint #flightpath, .waypoint #hub {
   background: url('../img/waypoints/yellow.png');
   position: relative;
   left: -5px;
   top: -5px;
}

.waypoint #travel { background: url('../img/waypoints/purple.png'); }
.waypoint #objective { background: url('../img/waypoints/red.png'); }
.waypoint #flightpath { background: url('../img/waypoints/green.png'); }
.waypoint #hub { background: url('../img/waypoints/blue.png'); }

.waypoint span {
   background: rgba(0, 0, 0, 0.76);
   position: absolute;
   pointer-events: none;
   padding: 1px;
   border-radius: 25%;
   opacity: 1;
}

/* --- WAYPOINT NUMBER ALIGNMENTS --- */

.waypoint span#left { position: absolute; left: -20; top: -6; }
.waypoint span#right { position: absolute; left: 10; top: -6; }
.waypoint span#top { position: absolute; left: -5; top: -21; }
.waypoint span#bottom { position: absolute; left: -5; top: 10; }

/* --- PREV NEXT --- */

#next, #prev {
   background: rgba(0, 0, 0, 0.24);
   position: absolute;
   height: 100%;
   transition: 0.2s;
   cursor: pointer;
   width: 10%;
   background-repeat: no-repeat;
   background-position: center center;
   top: 0px;
}

/* --- ICONS COURTESY OF https://www.flaticon.com/authors/smashicons --- */

#prev {
   background-image: url('../img/prev.png');
   left: 0px;
}

#next {
   background-image: url('../img/next.png');
   right: 0px;
}