#map {
   height: 515px;
   width: 772px;
   position: relative;
   transition: .3s;
   margin: 2px 0px;
}

/* --- BUTTONS TRIGGERS --- */

#map #current-block {
   background: url('../img/dark.png');
   position: absolute;
   left: 5px;
   top: 5px;
   color: white;
   padding: 2px 5px;
   pointer-events: none;
}

#show-legend {
   background: url('../img/dark.png');
   color: #CECECE;
   padding: 2px 4px;
   position: absolute;
   right: 5px;
   bottom: 5px;
   font-size: 12px;
   cursor: help;
}

/* --- SVG STUFF --- */

svg {
   width: 100%;
   height: 100%
}

line {
   stroke-width: 3;
   stroke: red;
}

/* --- WAYPOINTS --- */

.waypoint {
   position: absolute;
   cursor: help;
   width: 1px;
   height: 1px;
}

.waypoint .quest, .waypoint .travel, .waypoint .objective, .waypoint .flightpath, .waypoint .hub {
   background: url('../img/waypoints/yellow.png');
   position: relative;
   left: -5px;
   top: -5px;
}

.waypoint .travel { background: url('../img/waypoints/purple.png'); }
.waypoint .objective { background: url('../img/waypoints/red.png'); }
.waypoint .flightpath { background: url('../img/waypoints/green.png'); }
.waypoint .hub { background: url('../img/waypoints/blue.png'); }

.waypoint-num {
   background: url('../img/dark.png');
   position: absolute;
   pointer-events: none;
   padding: 1px;
}