#menu {
   display: table-row;
   height: 1px;
}

#menu .inner {
   background: rgba(0, 0, 0, 0.185);
   border-bottom: 2px solid rgba(2, 2, 2, 0.103);
}

#menu li {
   background-color: rgba(0, 0, 0, 0);
   display: inline-block;
   padding: 10px;
   color: #CECECE;
   cursor: pointer;
   text-shadow: 1px 1px #242424;
   transition: 0.3s;
}

#menu li:hover {
   background-color: rgba(2, 2, 2, 0.151);
   color: rgb(174, 248, 166);
}

@media (max-width: 800px) {
   #menu .fluff { display: none; }
}

#menu .more {
   background-image: url('../img/dropdown.png');
   background-repeat: no-repeat;
   background-position: right center;
   padding-right: 30px;
}

/* --- SUBMENU --- */

#overview,
#actions,
#load,
#create {
   background-color: rgb(41, 41, 41);
   background-image: url('../img/bg.png');
   border: 2px solid rgb(41, 41, 41);
   position: absolute;
   z-index: 100;
   width: 220px;
   max-width: 220px;
   display: none;
}

#overview div,
#actions div,
#load div,
#create div {
   border-bottom: 1px solid rgb(41, 41, 41);
   color: #CECECE;
   padding: 7px 9px;
   padding-left: 41px;
   position: relative;
   overflow: hidden;
   transition: 0.2s;
}

#load .dead { padding: 7px 9px; }

#overview a:last-child div,
#actions div:last-child,
#load div:last-child,
#create div:last-child {
   border-bottom: 0px;
}

#overview div:hover,
#actions div:hover,
#load div:hover,
#create div:hover {
   background: rgba(194, 66, 194, 0.123);
   cursor: pointer;
   color: white;
}

#overview div img,
#actions div img,
#load div img,
#create div img {
   position: absolute;
   opacity: 0.7;
   left: 0px;
   top: 0px;
   pointer-events: none;
}

#overview div:hover > img,
#actions div:hover > img,
#load div:hover img,
#create div:hover > img {
   opacity: 1;
}

#load #loaded {
   background-color: rgba(109, 255, 65, 0.096);
   color: white;
   cursor: default;
}

#load #loaded img { opacity: 1; }