#prompt {
   background: url('../img/dark.png');
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 2;
   display: none;
   opacity: 0;
   transition: 0.3s;
}

#prompt-inner {
   margin: auto;
   display: table-cell;
   vertical-align: middle;
   height: 100%;
   width: 100%;
}

#prompt-inner #loading {
   margin: auto;
   width: 60px;
   height: 60px;
}

#prompt-inner #faq {
   background: url('../img/dark.png');
   width: 550px;
   padding: 2px;
   margin: auto;
}

#faq #title {
   background: url('../img/dark.png');
   color: #F1F1F1;
   padding: 6px;
   margin-bottom: 2px;
   text-align: center;
}

#prompt-inner #content {
   background: url('../img/inner-bg2.png');
   padding: 2px;
}

#prompt-inner #content #question {
   padding: 6px;
}

#prompt-inner #content #question:nth-child(even) { background: url('../img/row-bg.png'); }