#prompt {
   background: rgba(0, 0, 0, 0.644);
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 99;
   display: table;
   opacity: 0;
   transition: 0.3s;
}

#prompt-inner {
   margin: auto;
   display: table-cell;
   vertical-align: middle;
   height: 100%;
   width: 100%;
}

#prompt-inner #loading {
   margin: auto;
   width: 60px;
   height: 60px;
}

#input-box {
   background: rgba(0, 0, 0, 0.363);
   width: -moz-fit-content;
   width: fit-content;
   margin: auto;
   padding: 4px;
   margin: auto;
   text-align: left;
}

input {
   background: rgba(255, 255, 255, 0.904);
   border: 2px solid white;
   width: 200px;
   padding: 3px 5px;
   color: #333333;
}

#good-submit, #bad-submit {
   background: rgba(87, 194, 65, 0.897);
   border: 2px solid rgba(87, 194, 65, 0.911);
   width: auto;
   margin-left: 4px;
   color: white;
   transition: 0.3s;
}

#good-submit { cursor: pointer; }

#bad-submit {
   background: rgba(194, 65, 65, 0.897);
   border: 2px solid rgba(199, 70, 70, 0.897);
}

#prompt #close {
   position: absolute;
   bottom: 0px;
   right: 0px;
   padding: 20px;
   opacity: 0.6;
   transition: 0.3s;
}

#prompt #close:hover {
   cursor: pointer;
   opacity: 1;
}

#error {
   background: rgba(196, 26, 26, 0.692);
   border: 2px solid rgba(196, 26, 26, 0.548);
   position: absolute;
   padding: 3px 5px;
   border-radius: 5px;
   display: none;
   color: #CECECE;
}

#factions {
   width: 100%;
   display: table;
}

#factions > div {
   width: 50%;
   display: table-cell;
}

.btn {
   text-align: center;
   margin-bottom: 4px;
   background: rgba(187, 58, 58, 0.705);
   border-bottom: 2px solid rgba(187, 58, 58, 0.733);
   padding: 4px;
   cursor: pointer;
   color: white;
   transition: 0.2s;
}

#picked {
   background: rgba(72, 175, 72, 0.705);
   border-bottom: 2px solid rgba(72, 175, 72, 0.753);
}

#factions div:nth-child(1) .btn { margin-right: 2px; }
#factions div:nth-child(2) .btn { margin-left: 2px; }

#filebox input { cursor: pointer; }

/* --- https://loading.io/css/ --- */

.lds-dual-ring {
   display: block;
   width: 80px;
   height: 80px;
   margin: auto;
}

.lds-dual-ring:after {
   content: " ";
   display: block;
   width: 80px;
   height: 80px;
   margin: 1px;
   border-radius: 50%;
   border: 6px solid #fff;
   border-color: #fff transparent #fff transparent;
   animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}