#sidepanel {
   width: 248px;
   padding: 2px;
   padding-left: 0px;
}

#sidepanel-inner {
   background: url('../img/lighter.png');
   padding: 2px;
   height: 567px;
   overflow: auto;
   transition: 0.3s;
   text-shadow: 1px 1px #242424;
}

#sidepanel-inner .title, #sidepanel-inner .starts, #sidepanel-inner .ends, #sidepanel-inner .objectives, #sidepanel-inner .special {
   color: rgb(218, 216, 216);
   margin: 0px;
   margin-top: 1px;
}

#sidepanel-inner .title { background: url('../img/title-bg.png'); margin: 0px; }

/* --- SECTION STUFF --- */

.section {
   background: url('../img/lighter.png');
   margin: 4px;
   padding: 2px;
}

.section a:link, .section a:visited {
   color: rgb(218, 216, 216);
}

.section a:hover {
   color: white;
   text-decoration: underline;
}

/* --- SUBMENU STUFF --- */

#submenu {
   background: url('../img/lighter.png');
   margin: 4px;
   margin-bottom: 6px;
}

#show-obj, #show-quests {
   text-align: center;
   color: rgb(151, 151, 151);
   border-bottom: 2px solid transparent;
   padding: 4px;
   transition: 0.3s;
   cursor: pointer;
}

#show-obj.current, #show-quests.current {
   background: url('../img/lighter.png');
   border-bottom: 2px solid rgba(136, 136, 136, 0.267);
   color: rgb(189, 189, 189);
   cursor: default;
}

/* --- OTHER --- */

#quest-log { display: none; }