#tooltip {
   background: url('../img/darker.png');
   min-width: 220px;
   padding: 2px;
   display: none;
   position: absolute;
   text-shadow: 1px 1px #242424;
}

#tooltip .title, #tooltip .ends, #tooltip .starts, #tooltip .objectives {
   color: #F1F1F1;
}

#legend {
   background: url('../img/dark.png');
   width: 140px;
   padding: 2px;
   position: absolute;
   display: none;
}

#legend-inner {
   background: url('../img/inner-bg2.png');
   padding: 2px;
}

#legend-inner .category { padding: 4px; }
#legend-inner .category:nth-child(even) { background: url('../img/row-bg.png'); }