.waypoint {
   position: absolute;
   cursor: help;
   width: 1px;
   height: 1px;
   color: white;
}

.waypoint .quest,
.waypoint .travel,
.waypoint .objective,
.waypoint .flightpath,
.waypoint .hub {
   background: url('../img/waypoints/yellow.png');
   position: relative;
   left: -5px;
   top: -5px;
}

.waypoint .travel { background: url('../img/waypoints/purple.png'); }
.waypoint .objective { background: url('../img/waypoints/red.png'); }
.waypoint .flightpath { background: url('../img/waypoints/green.png'); }
.waypoint .hub { background: url('../img/waypoints/blue.png'); }

#waypoint-num {
   background: url('../img/dark.png');
   position: absolute;
   pointer-events: none;
   padding: 1px;
}