@font-face { font-family: 'Open Sans'; src: url('fonts/main.woff'); }
input, span, input[type=range]::-webkit-slider-thumb { all: unset; }

body {
   background: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
   color: #383838;
   padding: 0px;
   margin: 0px;
}

a:link, a:visited, a:hover {
	color: #0073A9;
   transition: .3s;
   cursor: pointer;
   text-decoration: none;
}

a:hover { color: rgb(175, 30, 30); }

#wrapper, #prompt {
   display: table;
   width: 100%;
   height: 100%;
}

#wrapper-inner, #prompt-#inner {
   display: table-cell;
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

#innerbody {
   background: url('img/dark.png');
   width: 772px;
   margin: auto;
   padding: 2px;
}

/* -- MAP HEADER & FOOTER -- */

#header, #footer {
   background: url('img/header-bg.png');
   color: #CECECE;
   transition: .3s;
   text-shadow: 1px 1px #242424;
}

#footer { background: url('img/footer-bg.png'); }

#footer-inner {
   background-image: url('img/progress-bg.png');
   background-repeat: repeat-y;
   transition: .3s;
}

#xp {
   background: url('img/lighter.png');
}

#xp-inner {
   background-image: url('img/xp-bg.png');
   background-repeat: repeat-y;
   text-align: center;
   padding: 4px;
   transition: .3s;
}

input {
   background: url('img/lighter.png');
   margin: 0px;
   width: 100%;
   height: 26px;
   cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: url('img/scroller-bg.png');
   border: 0px solid black;
   height: 26px;
   width: 10px;
}

input[type=range]::-moz-range-thumb {
   -moz-appearance: none;
   background: url('img/scroller-bg.png');
   border: 0px;
   border-radius: 0px;
   height: 26px;
   width: 10px;
}

input[type=range]::-moz-range-track {
   background: transparent;
}

/* -- MAP -- */

#map {
   height: 515px;
   width: 772px;
   position: relative;
   transition: .3s;
   margin: 2px 0px;
}

#map #block-num {
   background: url('img/darker.png');
   position: absolute;
   left: 5px;
   top: 5px;
   color: white;
   padding: 2px 4px;
   pointer-events: none;
}

#show-legend {
   background: url('img/dark.png');
   color: #CECECE;
   padding: 2px 4px;
   position: absolute;
   right: 5px;
   bottom: 5px;
   font-size: 12px;
   cursor: help;
}

svg {
   width: 772px;
   height: 515px;
}

line {
   stroke-width: 3;
   stroke: red;
}

/* -- MENU -- */

.menu {
   width: 764px;
   margin: auto;
   padding: 5px;
   text-align: center;
   color: rgb(173, 173, 173);
   display: table;
   text-shadow: 1px 1px #242424;
}

.menu #left, .menu #right {
   display: table-cell;
   width: auto;
   text-align: left;
}

.menu #right, .menu #right { text-align: right; }

.menu .highlight, .menu #blocks, .menu #wps, .menu #qs {
   color: rgb(226, 224, 224);
}

.menu #faq, .menu #preload {
   color: rgb(194, 194, 194);
   transition: 0.4s;
}

.menu #faq:hover, .menu #preload:hover {
   color: rgb(231, 231, 231);
   text-decoration: underline;
   cursor: pointer;
}

#disabled {
   color: rgb(174, 248, 166);
   transition: 0.4s;
}

/* -- WAYPOINTS -- */

.waypoint {
   position: absolute;
   cursor: help;
   width: 1px;
   height: 1px;
   color: white;
}

.waypoint .quest,
.waypoint .travel,
.waypoint .objective,
.waypoint .flightpath,
.waypoint .hub {
   background: url('img/waypoints/yellow.png');
   position: relative;
   left: -5px;
   top: -5px;
}

.waypoint .travel { background: url('img/waypoints/purple.png'); }
.waypoint .objective { background: url('img/waypoints/red.png'); }
.waypoint .flightpath { background: url('img/waypoints/green.png'); }
.waypoint .hub { background: url('img/waypoints/blue.png'); }

#waypoint-num {
   background: url('img/dark.png');
   position: absolute;
   pointer-events: none;
   padding: 1px;
}

/* -- TOOLTIP -- */

#tooltip {
   background: url('img/darker.png');
   min-width: 200px;
   padding: 2px;
   display: none;
   position: absolute;
   text-shadow: 1px 1px #242424;
}

#tooltip .item {
   color: white;
   padding: 2px;
}

#tooltip .header, #tooltip .ends, #tooltip .starts, #tooltip .objectives {
   background: url('img/dark.png');
   padding: 3px;
   padding-left: 5px;
   color: white;
   margin-top: 2px;
}

#tooltip .header {
   margin: 0px;
   color: white;
   display: table;
   width: 100%;
   padding: 0px;
}

.header #left, .header #right {
   width: auto;
   display: table-cell;
   padding: 3px;
   padding-left: 5px;
}

.header #right {
   text-align: right;
   padding-right: 5px;
}

#tooltip .ends { background: url('img/success.png'); }
#tooltip .starts { background: url('img/caution.png'); }
#tooltip .objectives { background: url('img/error.png'); }

#legend {
   background: url('img/dark.png');
   width: 140px;
   padding: 2px;
   position: absolute;
   display: none;
}

#legend-inner {
   background: url('img/inner-bg.png');
   text-shadow: 0px 0px #f1f1f1;
   padding: 2px;
}

#wp {
   background: url('img/success.png');
   display: table;
   width: 100%;
}

#wp #left, #wp #right {
   display: table-cell;
   width: auto;
   padding: 5px;
}

#wp:nth-child(even) {
   background: transparent;
}

#wp #right { text-align: right; }

/* -- PROMPT STUFF -- */

#prompt {
   background: url('img/dark.png');
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 2;
   display: none;
   opacity: 0;
   transition: 0.3s;
}

#prompt-inner {
   margin: auto;
   display: table-cell;
   vertical-align: middle;
   height: 100%;
   width: 100%;
}

#prompt-inner #loading {
   margin: auto;
   width: 60px;
   height: 60px;
}

#prompt-inner #faq {
   background: url('img/dark.png');
   width: 610px;
   padding: 2px;
   margin: auto;
}

#faq #title {
   background: url('img/dark.png');
   color: #F1F1F1;
   padding: 6px;
   margin-bottom: 2px;
   text-align: center;
}

#prompt-inner #content {
   background: url('img/inner-bg.png');
   padding: 2px;
}

#content #question {
   background: url('img/success.png');
   display: table;
   width: 100%;
}

#content #question:nth-child(even) { background: transparent; }

#question #left, #question #right {
   display: table-cell;
   width: auto;
   padding: 6px;
   font-size: 13px;
}

#question #right { text-align: right; }

/* -- PRELOADING STUFF -- */

#preload-container {
   display: none;
}

#preload-container img {
   width: 1px;
   height: 1px;
}