@font-face { font-family: 'Open Sans'; src: url('fonts/main.woff'); }
input, span, input[type=range]::-webkit-slider-thumb { all: unset; }

body {
   background: url('img/bg.png');
	font: 13px 'Open Sans', verdana;
   color: #505050;
   padding: 0px;
   margin: 0px;
}

a:link, a:visited, a:hover {
	color: #0073A9;
   transition: .2s;
   cursor: pointer;
}

a:hover {
   text-decoration: underline;
}

#header, #footer {
   background: url('img/dark.png');
   width: 772px;
   margin: auto;
   padding: 6px;
   color: #CECECE;
}

#header #experience {
   background: url('img/lighter.png');
}

#header #experience #inner {
   background-image: url('img/experience.png');
   background-repeat: repeat-y;
   text-align: center;
   padding: 4px;
   transition: 0.2s;
}

#footer #inner {
   background-image: url('img/experience.png');
   background-repeat: repeat-y;
   transition: 0.2s;
}

#innerbody {
   display: table;
   width: 100%;
   height: 100%;
}

#innerbody #cell {
   display: table-cell;
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

#map-outer {
   background: url('img/dark.png');
   padding: 0px 6px;
   width: 772px;
   margin: auto;
}

#map {
   height: 515px;
   position: relative;
   transition: .2s;
}

#map #block-num {
   background: url('img/darker.png');
   position: absolute;
   left: 5px;
   top: 5px;
   color: white;
   padding: 3px 5px;
}

.waypoint {
   position: absolute;
   cursor: pointer;
   width: 1px;
   height: 1px;
}

.waypoint .quest,
.waypoint .travel,
.waypoint .objective,
.waypoint .flightpath,
.waypoint .hub {
   background: url('img/waypoints/yellow.png');
   position: relative;
   left: -5px;
   top: -5px;
}

.waypoint .travel { background: url('img/waypoints/purple.png'); }
.waypoint .objective { background: url('img/waypoints/red.png'); }
.waypoint .flightpath { background: url('img/waypoints/green.png'); }
.waypoint .hub { background: url('img/waypoints/blue.png'); }

#tooltip {
   background: url('img/dark.png');
   min-width: 200px;
   color: white;
   padding: 4px;
   padding-bottom: 2px; 
   display: none;
   position: absolute;
}

#tooltip .header, #tooltip .ends, #tooltip .starts, #tooltip .objectives {
   background: url('img/dark.png');
   margin-bottom: 2px;
   padding: 4px;
}

#tooltip .ends { background: url('img/success.png'); }
#tooltip .starts { background: url('img/caution.png'); }
#tooltip .objectives { background: url('img/error.png'); }

svg {
   width: 772px;
   height: 515px;
}

line {
   stroke-width: 2;
   stroke: red;
}

input {
   background: url('img/lighter.png');
   margin: 0px;
   width: 100%;
   height: 26px;
   cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: url('img/success.png');
   height: 26px;
   width: 10px;
}